<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /static/js/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z0-9A-Z\_\-\.]+)?$ serve.php
</IfModule>
