<div id="content">
    <div class="content-holder">
        <section class="about-info">
            <article class="about-images">
                <img src="/static/images/Scout_about_01.jpg" alt="" class="inline-block"><img src="/static/images/Scout_about_02.jpg" alt="" class="inline-block"><img src="/static/images/Scout_about_03.jpg" alt="" class="inline-block"><img src="/static/images/Scout_about_04.jpg" alt="" class="inline-block">
            </article>
            <article class="txt-about">
                <h1>About</h1>
                <p>We're Scout. A small but mighty, super-efficient, idea machine that runs on curiosity.<br/>
                We love what we do and it shows. Listening. Thinking. Making. It's what we do.<br/>
                And we're as passionate about smart ideas as we are about great design.<br/>
                We've even taken an oath.</p>
                <br/>
                <p>Always do your best.<br/>
                Stay Curious.<br/>
                Listen.<br/>
                Think.<br/>
                Make art that makes sense.<br/>
                <br/>
                Never divulge the location of the secret underground design lab filled with candy and espresso.</p>
                <br/><br/><br/>


                <h1 class="heading">Brian Drucker</h1>
                <em>Creative Director / Director</em>
                <p>
                Brian approaches every project with pen and paper, and an open mind.   He studied Architecture and
                Civil Engineering, then went to work for Frank Gehry. That architectural foundation differentiates and
                informs his spatial, sculptural approach to design, 3D and visual effects.<br/>
                <br/>
                His resumé is just as dimensional, including 3D & VFX projects at Sony Imageworks, Cinesite, Dreamworks,
                Nickelodeon and Digital Domain. And design and directing at Trollback, Psyop, The Ebeling Group, Loyal
                Kaspar, Freestyle Collective and most recently, Superfad.</p>
                <br/><br/>
                <h1 class="heading">Chace Hartman</h1>
                <em>Creative Director / Director</em>
                <p>
                Chace works by a process of discovery through experimentation. He began as a technical illustrator before
                expanding into motion graphics. His approach to creative problem solving is best summed up by the
                words: What if?  This curiosity leads to unexpected design solutions.<br/>
                <br/>
                His bi-coastal resumé includes Digital Kitchen, Brand New School, Ebeling Group, MK12, Buck, and most<br/>
                recently, Superfad.</p>
            </article>
        </section>
    </div>
</div>
