<div id="content">
    <div class="content-holder">
        <section class="contact-area">
            <div class="contact-info">
                <div class="address-area">
                    <div class="address-box clearfix">
                        <div class="address-info address-ny">
                            <strong class="title">NY</strong>
                            <address>532 Broadway 5th floor <br> New York NY<br/>10012</address>
                            ${tel_one}
                        </div>
                        <div class="map-holder">
                            <a href="https://maps.google.com/maps?q=532+Broadway+5th+floor++New+York+NY+10012&ie=UTF-8&hq=&hnear=0x89c2598ecfb4f8e1:0xffad81d3d594fbc3,532+Broadway,+New+York,+NY+10012&gl=us&ei=okXEUvOQCsLfsASy34DQDA&ved=0CCwQ8gEwAA" target="_blank"><img src="/static/images/NY_map.jpg"/></a>
                        </div>
                    </div>
                    <div class="address-box clearfix">
                        <div class="address-info address-la">
                            <strong class="title">LA</strong>
                            <address>1426 Main St. <br> Venice CA<br/>90291 </address>
                            ${tel_two}
                        </div>
                        <div class="map-holder">
                            <a href="https://maps.google.com/maps?q=1426+Main+St.++Venice+CA+90291&ie=UTF-8&hq=&hnear=0x80c2bab8f468a63b:0xc198eb0af4bcf0c9,1426+Main+St,+Venice,+CA+90291&gl=us&ei=gEXEUoG_A6mysQTdkoGADg&ved=0CCwQ8gEwAA" target="_blank"><img src="/static/images/LA_map.jpg"/></a>
                        </div>
                    </div>
                </div>

                ${people_info}

                <div class="box">
                    <strong class="title">${rep_type}</strong>
                    ${contact}
                </div>
            </div>
        </section>
    </div>
</div>
