<strong class="logo"><a href="/">Scout</a></strong>
<nav id="nav">
    <ul>
        <li class="${work_active} work ${has_submenu_li}">
            <a href="/portfolio" class="${has_submenu_a}">Work</a>
            ${submenu}
        </li>
        <li class="${montage_active}"><a href="/montage">Montage</a></li>
        <li class="${about_active}"><a href="/about">About</a></li>
        <li class="${contact_active}"><a href="/contact">Contact</a></li>
        <li class="${blog_active}"><a href="http://scoutstudios.tumblr.com/" target="_blank">Blog</a></li>
    </ul>
</nav>
