<div id="content">
    <div class="content-holder">
        <h1>Manage ${type}</h1>
        <p><a href="/portfolio/create">Create Featured</a></p>
        <table id="portfolio-sortable">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Cover</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                ${portfolio_table_body}
            </tbody>
        </table>
    </div>
</div>
