<div id="content">
    <div class="content-holder">
        <div class="content-frame">
            <section class="carousel">
                <div class="mask">
                    <div class="slideset">
                        <div class="slide">
                            ${slide}
                        </div>
                    </div>
                </div>
                <div class="btn-holder">
                    <a class="btn-prev" href="${previous_project}">Previous</a>
                    <a class="btn-next" href="${next_project}">Next</a>
                </div>
            </section>
            <ul class="accordion">
                <li id="description-slide-parent">
                    <header class="head-area">
                        <div class="title-area">
                            <h2>${client_name}</h2>
                            <strong class="text">${name}</strong>
                        </div>
                        <div class="meta">
                            <ul class="large-social-networks">
                                <li><a href="${vimeo_url}" target="_blank">vimeo</a></li>
                                <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=${url}${uri}" target="_blank">facebook</a></li>
                                <li class="twitter"><a href="https://twitter.com/intent/tweet?text=${name} by Scout Studios for ${client_name}&url=${url}${uri}" target="_blank">twitter</a></li>
                                <li class="email"><a href="mailto:?subject=${name} by Scout Studios for ${client_name}&body=%0D%0A%0D%0A${url}${uri}">email</a></li>
                            </ul>
                        </div>
                    </header>
                    <div class="slide description-wrap" id="description-slide">
                        <em>${description}</em>
                    </div>
                </li>
                <li  id="credits-slide-parent">
                    <header class="head-area">
                        <div class="title-area">
                            <h2>Credits</h2>
                        </div>
                        <div class="meta">
                            <a href="#" class="opener" rel="credits-slide">open</a>
                        </div>
                    </header>
                    <div class="slide hide credits-section" id="credits-slide">
                        ${credits}
                    </div>
                </li>
            </ul>
            <section class="gallery-area ${hide_images_01}">
                <div class="title-area">
                    <h2>Stills</h2>
                </div>
                <ul>
                    ${still_images}
                </ul>
            </section>
            <section class="gallery-area ${hide_images_02}">
                <div class="title-area">
                    <h2>Process</h2>
                </div>
                <ul>
                    ${process_images}
                </ul>
            </section>
        </div>
    </div>
</div>

